/* General Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Navigation */
#navigation {
  text-align: center;
  padding-bottom: 18px;
}

#navigation a:first-child {
  margin-top: 0;
}

#navigation a {
  border: none;
  margin: 0 6px;
}

#content {
  margin: 12px;
}

#lightbox {
  background-color: #000;
  height: 100%;
  margin: 0;
}

/* Photo Styling */
img.photo {
  width: 25%;
  margin: 10px 0 -10px 0;
  border-radius: 50%;
}

/* Media Query for larger screens (min-width: 822px) */
@media all and (min-width: 822px) {
  #navigation {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    height: 100%;
    padding: 0 20px;
    margin: 0;
  }

  #navigation h1,
  #navigation > a {
    display: block;
    text-align: right;
  }

  #navigation > div > a > i.fa {
    font-size: 1.5em;
  }

  #navigation > div {
    margin-top: 10px;
    text-align: right;
  }

  #navigation a {
    margin: 6px 0;
  }

  #content {
    margin: 20px 0 0 206px;
    padding: 0 36px;
    width: 1000px;
  }

  #lightbox {
    margin-left: 160px;
  }

  img.photo {
    width: 100%;
    float: right;
    margin: 5px 0;
  }
}

/* Dark Mode (optional) */
/*
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  a {
    color: #809fff;
  }
}
*/
